(or Qr0c0 Qr0c1 Qr0c2 Qr0c3 Qr0c4 Qr0c5)
(or Qr1c0 Qr1c1 Qr1c2 Qr1c3 Qr1c4 Qr1c5)
(or Qr2c0 Qr2c1 Qr2c2 Qr2c3 Qr2c4 Qr2c5)
(or Qr3c0 Qr3c1 Qr3c2 Qr3c3 Qr3c4 Qr3c5)
(or Qr4c0 Qr4c1 Qr4c2 Qr4c3 Qr4c4 Qr4c5)
(or Qr5c0 Qr5c1 Qr5c2 Qr5c3 Qr5c4 Qr5c5)
(or (not Qr0c0) (not Qr0c1))
(or (not Qr0c0) (not Qr1c0))
(or (not Qr0c0) (not Qr1c1))
(or (not Qr0c0) (not Qr0c2))
(or (not Qr0c0) (not Qr2c0))
(or (not Qr0c0) (not Qr2c2))
(or (not Qr0c0) (not Qr0c3))
(or (not Qr0c0) (not Qr3c0))
(or (not Qr0c0) (not Qr3c3))
(or (not Qr0c0) (not Qr0c4))
(or (not Qr0c0) (not Qr4c0))
(or (not Qr0c0) (not Qr4c4))
(or (not Qr0c0) (not Qr0c5))
(or (not Qr0c0) (not Qr5c0))
(or (not Qr0c0) (not Qr5c5))
(or (not Qr0c1) (not Qr1c1))
(or (not Qr0c1) (not Qr1c0))
(or (not Qr0c1) (not Qr1c2))
(or (not Qr0c1) (not Qr0c2))
(or (not Qr0c1) (not Qr2c1))
(or (not Qr0c1) (not Qr2c3))
(or (not Qr0c1) (not Qr0c3))
(or (not Qr0c1) (not Qr3c1))
(or (not Qr0c1) (not Qr3c4))
(or (not Qr0c1) (not Qr0c4))
(or (not Qr0c1) (not Qr4c1))
(or (not Qr0c1) (not Qr4c5))
(or (not Qr0c1) (not Qr0c5))
(or (not Qr0c1) (not Qr5c1))
(or (not Qr0c2) (not Qr1c2))
(or (not Qr0c2) (not Qr1c1))
(or (not Qr0c2) (not Qr1c3))
(or (not Qr0c2) (not Qr2c2))
(or (not Qr0c2) (not Qr2c0))
(or (not Qr0c2) (not Qr2c4))
(or (not Qr0c2) (not Qr0c3))
(or (not Qr0c2) (not Qr3c2))
(or (not Qr0c2) (not Qr3c5))
(or (not Qr0c2) (not Qr0c4))
(or (not Qr0c2) (not Qr4c2))
(or (not Qr0c2) (not Qr0c5))
(or (not Qr0c2) (not Qr5c2))
(or (not Qr0c3) (not Qr1c3))
(or (not Qr0c3) (not Qr1c2))
(or (not Qr0c3) (not Qr1c4))
(or (not Qr0c3) (not Qr2c3))
(or (not Qr0c3) (not Qr2c1))
(or (not Qr0c3) (not Qr2c5))
(or (not Qr0c3) (not Qr3c3))
(or (not Qr0c3) (not Qr3c0))
(or (not Qr0c3) (not Qr0c4))
(or (not Qr0c3) (not Qr4c3))
(or (not Qr0c3) (not Qr0c5))
(or (not Qr0c3) (not Qr5c3))
(or (not Qr0c4) (not Qr1c4))
(or (not Qr0c4) (not Qr1c3))
(or (not Qr0c4) (not Qr1c5))
(or (not Qr0c4) (not Qr2c4))
(or (not Qr0c4) (not Qr2c2))
(or (not Qr0c4) (not Qr3c4))
(or (not Qr0c4) (not Qr3c1))
(or (not Qr0c4) (not Qr4c4))
(or (not Qr0c4) (not Qr4c0))
(or (not Qr0c4) (not Qr0c5))
(or (not Qr0c4) (not Qr5c4))
(or (not Qr0c5) (not Qr1c5))
(or (not Qr0c5) (not Qr1c4))
(or (not Qr0c5) (not Qr2c5))
(or (not Qr0c5) (not Qr2c3))
(or (not Qr0c5) (not Qr3c5))
(or (not Qr0c5) (not Qr3c2))
(or (not Qr0c5) (not Qr4c5))
(or (not Qr0c5) (not Qr4c1))
(or (not Qr0c5) (not Qr5c5))
(or (not Qr0c5) (not Qr5c0))
(or (not Qr1c0) (not Qr1c1))
(or (not Qr1c0) (not Qr1c2))
(or (not Qr1c0) (not Qr2c0))
(or (not Qr1c0) (not Qr2c1))
(or (not Qr1c0) (not Qr1c3))
(or (not Qr1c0) (not Qr3c0))
(or (not Qr1c0) (not Qr3c2))
(or (not Qr1c0) (not Qr1c4))
(or (not Qr1c0) (not Qr4c0))
(or (not Qr1c0) (not Qr4c3))
(or (not Qr1c0) (not Qr1c5))
(or (not Qr1c0) (not Qr5c0))
(or (not Qr1c0) (not Qr5c4))
(or (not Qr1c1) (not Qr1c2))
(or (not Qr1c1) (not Qr2c1))
(or (not Qr1c1) (not Qr2c0))
(or (not Qr1c1) (not Qr2c2))
(or (not Qr1c1) (not Qr1c3))
(or (not Qr1c1) (not Qr3c1))
(or (not Qr1c1) (not Qr3c3))
(or (not Qr1c1) (not Qr1c4))
(or (not Qr1c1) (not Qr4c1))
(or (not Qr1c1) (not Qr4c4))
(or (not Qr1c1) (not Qr1c5))
(or (not Qr1c1) (not Qr5c1))
(or (not Qr1c1) (not Qr5c5))
(or (not Qr1c2) (not Qr2c2))
(or (not Qr1c2) (not Qr2c1))
(or (not Qr1c2) (not Qr2c3))
(or (not Qr1c2) (not Qr1c3))
(or (not Qr1c2) (not Qr3c2))
(or (not Qr1c2) (not Qr3c0))
(or (not Qr1c2) (not Qr3c4))
(or (not Qr1c2) (not Qr1c4))
(or (not Qr1c2) (not Qr4c2))
(or (not Qr1c2) (not Qr4c5))
(or (not Qr1c2) (not Qr1c5))
(or (not Qr1c2) (not Qr5c2))
(or (not Qr1c3) (not Qr2c3))
(or (not Qr1c3) (not Qr2c2))
(or (not Qr1c3) (not Qr2c4))
(or (not Qr1c3) (not Qr3c3))
(or (not Qr1c3) (not Qr3c1))
(or (not Qr1c3) (not Qr3c5))
(or (not Qr1c3) (not Qr1c4))
(or (not Qr1c3) (not Qr4c3))
(or (not Qr1c3) (not Qr4c0))
(or (not Qr1c3) (not Qr1c5))
(or (not Qr1c3) (not Qr5c3))
(or (not Qr1c4) (not Qr2c4))
(or (not Qr1c4) (not Qr2c3))
(or (not Qr1c4) (not Qr2c5))
(or (not Qr1c4) (not Qr3c4))
(or (not Qr1c4) (not Qr3c2))
(or (not Qr1c4) (not Qr4c4))
(or (not Qr1c4) (not Qr4c1))
(or (not Qr1c4) (not Qr1c5))
(or (not Qr1c4) (not Qr5c4))
(or (not Qr1c4) (not Qr5c0))
(or (not Qr1c5) (not Qr2c5))
(or (not Qr1c5) (not Qr2c4))
(or (not Qr1c5) (not Qr3c5))
(or (not Qr1c5) (not Qr3c3))
(or (not Qr1c5) (not Qr4c5))
(or (not Qr1c5) (not Qr4c2))
(or (not Qr1c5) (not Qr5c5))
(or (not Qr1c5) (not Qr5c1))
(or (not Qr2c0) (not Qr2c1))
(or (not Qr2c0) (not Qr2c2))
(or (not Qr2c0) (not Qr2c3))
(or (not Qr2c0) (not Qr3c0))
(or (not Qr2c0) (not Qr3c1))
(or (not Qr2c0) (not Qr2c4))
(or (not Qr2c0) (not Qr4c0))
(or (not Qr2c0) (not Qr4c2))
(or (not Qr2c0) (not Qr2c5))
(or (not Qr2c0) (not Qr5c0))
(or (not Qr2c0) (not Qr5c3))
(or (not Qr2c1) (not Qr2c2))
(or (not Qr2c1) (not Qr2c3))
(or (not Qr2c1) (not Qr3c1))
(or (not Qr2c1) (not Qr3c0))
(or (not Qr2c1) (not Qr3c2))
(or (not Qr2c1) (not Qr2c4))
(or (not Qr2c1) (not Qr4c1))
(or (not Qr2c1) (not Qr4c3))
(or (not Qr2c1) (not Qr2c5))
(or (not Qr2c1) (not Qr5c1))
(or (not Qr2c1) (not Qr5c4))
(or (not Qr2c2) (not Qr2c3))
(or (not Qr2c2) (not Qr3c2))
(or (not Qr2c2) (not Qr3c1))
(or (not Qr2c2) (not Qr3c3))
(or (not Qr2c2) (not Qr2c4))
(or (not Qr2c2) (not Qr4c2))
(or (not Qr2c2) (not Qr4c0))
(or (not Qr2c2) (not Qr4c4))
(or (not Qr2c2) (not Qr2c5))
(or (not Qr2c2) (not Qr5c2))
(or (not Qr2c2) (not Qr5c5))
(or (not Qr2c3) (not Qr3c3))
(or (not Qr2c3) (not Qr3c2))
(or (not Qr2c3) (not Qr3c4))
(or (not Qr2c3) (not Qr2c4))
(or (not Qr2c3) (not Qr4c3))
(or (not Qr2c3) (not Qr4c1))
(or (not Qr2c3) (not Qr4c5))
(or (not Qr2c3) (not Qr2c5))
(or (not Qr2c3) (not Qr5c3))
(or (not Qr2c3) (not Qr5c0))
(or (not Qr2c4) (not Qr3c4))
(or (not Qr2c4) (not Qr3c3))
(or (not Qr2c4) (not Qr3c5))
(or (not Qr2c4) (not Qr4c4))
(or (not Qr2c4) (not Qr4c2))
(or (not Qr2c4) (not Qr2c5))
(or (not Qr2c4) (not Qr5c4))
(or (not Qr2c4) (not Qr5c1))
(or (not Qr2c5) (not Qr3c5))
(or (not Qr2c5) (not Qr3c4))
(or (not Qr2c5) (not Qr4c5))
(or (not Qr2c5) (not Qr4c3))
(or (not Qr2c5) (not Qr5c5))
(or (not Qr2c5) (not Qr5c2))
(or (not Qr3c0) (not Qr3c1))
(or (not Qr3c0) (not Qr3c2))
(or (not Qr3c0) (not Qr3c3))
(or (not Qr3c0) (not Qr3c4))
(or (not Qr3c0) (not Qr4c0))
(or (not Qr3c0) (not Qr4c1))
(or (not Qr3c0) (not Qr3c5))
(or (not Qr3c0) (not Qr5c0))
(or (not Qr3c0) (not Qr5c2))
(or (not Qr3c1) (not Qr3c2))
(or (not Qr3c1) (not Qr3c3))
(or (not Qr3c1) (not Qr3c4))
(or (not Qr3c1) (not Qr4c1))
(or (not Qr3c1) (not Qr4c0))
(or (not Qr3c1) (not Qr4c2))
(or (not Qr3c1) (not Qr3c5))
(or (not Qr3c1) (not Qr5c1))
(or (not Qr3c1) (not Qr5c3))
(or (not Qr3c2) (not Qr3c3))
(or (not Qr3c2) (not Qr3c4))
(or (not Qr3c2) (not Qr4c2))
(or (not Qr3c2) (not Qr4c1))
(or (not Qr3c2) (not Qr4c3))
(or (not Qr3c2) (not Qr3c5))
(or (not Qr3c2) (not Qr5c2))
(or (not Qr3c2) (not Qr5c0))
(or (not Qr3c2) (not Qr5c4))
(or (not Qr3c3) (not Qr3c4))
(or (not Qr3c3) (not Qr4c3))
(or (not Qr3c3) (not Qr4c2))
(or (not Qr3c3) (not Qr4c4))
(or (not Qr3c3) (not Qr3c5))
(or (not Qr3c3) (not Qr5c3))
(or (not Qr3c3) (not Qr5c1))
(or (not Qr3c3) (not Qr5c5))
(or (not Qr3c4) (not Qr4c4))
(or (not Qr3c4) (not Qr4c3))
(or (not Qr3c4) (not Qr4c5))
(or (not Qr3c4) (not Qr3c5))
(or (not Qr3c4) (not Qr5c4))
(or (not Qr3c4) (not Qr5c2))
(or (not Qr3c5) (not Qr4c5))
(or (not Qr3c5) (not Qr4c4))
(or (not Qr3c5) (not Qr5c5))
(or (not Qr3c5) (not Qr5c3))
(or (not Qr4c0) (not Qr4c1))
(or (not Qr4c0) (not Qr4c2))
(or (not Qr4c0) (not Qr4c3))
(or (not Qr4c0) (not Qr4c4))
(or (not Qr4c0) (not Qr4c5))
(or (not Qr4c0) (not Qr5c0))
(or (not Qr4c0) (not Qr5c1))
(or (not Qr4c1) (not Qr4c2))
(or (not Qr4c1) (not Qr4c3))
(or (not Qr4c1) (not Qr4c4))
(or (not Qr4c1) (not Qr4c5))
(or (not Qr4c1) (not Qr5c1))
(or (not Qr4c1) (not Qr5c0))
(or (not Qr4c1) (not Qr5c2))
(or (not Qr4c2) (not Qr4c3))
(or (not Qr4c2) (not Qr4c4))
(or (not Qr4c2) (not Qr4c5))
(or (not Qr4c2) (not Qr5c2))
(or (not Qr4c2) (not Qr5c1))
(or (not Qr4c2) (not Qr5c3))
(or (not Qr4c3) (not Qr4c4))
(or (not Qr4c3) (not Qr4c5))
(or (not Qr4c3) (not Qr5c3))
(or (not Qr4c3) (not Qr5c2))
(or (not Qr4c3) (not Qr5c4))
(or (not Qr4c4) (not Qr4c5))
(or (not Qr4c4) (not Qr5c4))
(or (not Qr4c4) (not Qr5c3))
(or (not Qr4c4) (not Qr5c5))
(or (not Qr4c5) (not Qr5c5))
(or (not Qr4c5) (not Qr5c4))
(or (not Qr5c0) (not Qr5c1))
(or (not Qr5c0) (not Qr5c2))
(or (not Qr5c0) (not Qr5c3))
(or (not Qr5c0) (not Qr5c4))
(or (not Qr5c0) (not Qr5c5))
(or (not Qr5c1) (not Qr5c2))
(or (not Qr5c1) (not Qr5c3))
(or (not Qr5c1) (not Qr5c4))
(or (not Qr5c1) (not Qr5c5))
(or (not Qr5c2) (not Qr5c3))
(or (not Qr5c2) (not Qr5c4))
(or (not Qr5c2) (not Qr5c5))
(or (not Qr5c3) (not Qr5c4))
(or (not Qr5c3) (not Qr5c5))
(or (not Qr5c4) (not Qr5c5))